@use "../../styles/utils" as *;

.projects {
  padding: 1.5rem;
  margin-top: 5rem;

  @include breakpoint-up(large) {
    margin-top: 10rem;
  }

  .container {
    max-width: 75rem;
    @include margin-x-auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
