@use "../utils" as *;

:root {
  --fw-regular: 400;
  --fw-bold: 500;
}

body {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-100);
}

h1,
h2,
h3,
button {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
}

p {
  font-size: 0.9375rem;

  @include breakpoint-up(large) {
    font-size: 1.0625rem;
  }
}

a {
  text-decoration: none;
}

a,
a:visited,
a:active {
  color: inherit;
}
