@use "../../styles/utils" as *;

.hero {
  padding: 2.5rem 1.5rem;

  background-image: url("../../../public/backgrounds/bg-hero-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint-up(large) {
    background-image: url("../../../public/backgrounds/bg-hero-desktop.svg");
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .container {
    max-width: 80rem;
    @include margin-x-auto;

    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include breakpoint-up(large) {
      margin-top: 10rem;

      gap: 6rem;
    }

    @include breakpoint-up(xxl) {
      margin-top: 15rem;
    }
  }

  .grid {
    display: grid;
    gap: 2rem;

    @include breakpoint-down(medium) {
      grid-template-areas: "image" "text";

      .text-container {
        grid-area: text;
        text-align: center;
      }

      .image-container {
        grid-area: image;
        max-width: 30rem;
        @include margin-x-auto;
      }
    }

    @include breakpoint-up(large) {
      grid-template-columns: 5fr 4fr;
      align-items: center;
    }
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.15;
    color: var(--clr-neutral-100);

    @include breakpoint-down(medium) {
      margin-bottom: 0.75rem;
    }

    @include breakpoint-up(large) {
      font-size: 4rem;
    }
  }

  h2 {
    font-size: 1.25rem;
    opacity: 0.75;

    @include breakpoint-up(large) {
      font-size: 1.5rem;
    }
  }

  .icons {
    margin-top: 1rem;
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;

    @include breakpoint-down(medium) {
      justify-content: center;
    }

    a {
      cursor: pointer;
      display: flex;

      @include media-hover {
        &:hover,
        &:focus {
          color: var(--clr-primary);
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    a {
      font-family: var(--ff-primary);
      font-weight: var(--fw-bold);
      color: var(--clr-primary);

      @include media-hover {
        &:hover,
        &:focus {
          color: var(--clr-neutral-700);
        }
      }
    }

    @include breakpoint-down(medium) {
      @include margin-x-auto;
    }

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: center;
    }

    .button-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    .flex-reverse {
      @include breakpoint-up(large) {
        flex-direction: row-reverse;
      }
    }
  }
}
