@use "../../styles/utils" as *;

.button {
  color: var(--clr-primary);
  font-size: 1.25rem;

  background-color: transparent;
  padding: 0.625rem 2rem;
  border: 0.125rem solid var(--clr-primary);
  border-radius: 0.125rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

  @include media-hover {
    &:focus,
    &:hover {
      background-color: var(--clr-primary);
      color: var(--clr-neutral-700);
    }
  }
}
