@use "../../../styles/utils" as *;

.project {
  background-color: darken(#44475a, 5%);
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  display: grid;
  gap: 1rem;

  @include breakpoint-up(large) {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    gap: 2rem;
  }

  @include breakpoint-down(medium) {
    max-width: 30rem;
    @include margin-x-auto;
  }

  h2 {
    margin-bottom: 0.375rem;
    font-size: 1.4375rem;

    @include breakpoint-up(large) {
      font-size: 1.75rem;
    }
  }

  p {
    opacity: 0.9375;
  }

  .buttons {
    margin-bottom: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.375rem;

    button {
      font-size: 0.875rem;
      padding: 0.12625rem 0.5rem;
    }
  }

  .icons {
    margin-top: 2rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.875rem;

    a {
      cursor: pointer;
      display: flex;

      &:focus {
        color: var(--clr-primary);
        outline: none;
      }

      &:hover {
        color: var(--clr-primary);
      }
    }
  }
}
