@use "../src/styles/utils" as *;

.hero {
  height: 100vh;
  background-image: url("../public/backgrounds/bg-hero-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint-up(large) {
    background-image: url("../public/backgrounds/bg-hero-desktop.svg");
  }

  .container {
    max-width: 64rem;
    height: 100%;
    @include margin-x-auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: center;
    gap: 2rem;
  }

  h1 {
    font-size: 4rem;
    color: var(--clr-neutral-100);
    line-height: 1.15;
  }

  h2 {
    opacity: 0.75;
  }

  .icons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    a {
      display: flex;
    }

    img {
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
