@use "../../styles/utils" as *;

.footer {
  margin-top: 5rem;
  padding: 2.5rem;
  background-color: darken(#44475a, 5%);
  opacity: 1.5;

  font-size: 0.9375rem;

  @include breakpoint-up(large) {
    font-size: 1.0625rem;
  }

  .container {
    max-width: 80rem;
    @include margin-x-auto;

    display: flex;
    flex-direction: column;
    gap: 0.875rem;

    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .flex {
    font-family: var(--ff-primary);
    display: flex;
    gap: 0.5rem;
    font-weight: var(--fw-bold);

    a {
      opacity: 0.75;
      font-weight: var(--fw-regular);

      &:focus {
        color: var(--clr-primary);
        outline: none;
      }
    }
  }
}
